



.title {
    font-family:'Courier New', Courier, monospace;
}

.square {
    background-color: darkgreen;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover {
    background-color: blue;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    background-color: aquamarine;
    color:black;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}

.button:hover {
    background-color: blue;
    transform: scale(1.5);
    color:azure;
}