/* ~~~~~~~~~~~~~~~~~color palette~~~~~~~~~~~~~~~~~~~~~ */

:root {
    --bg-color-1: #D9D6D2;
    --bgcolor-2: #590B11;
    --font: #D9BEA7;
    --accent-1: #8C0303;
    --accent-2: #262121;
    --dark: #0D0D0D;
}


/* ~~~~~~~~~~~~~~~~~~~~CSS resets~~~~~~~~~~~~~~~ */

* {
    margin: 0;
    padding: 0;
}

/*respect user font size preferences*/
html {
    font-size: 100%;
}

/* ~~~~~~~~~~~~~~~~~~~General CSS~~~~~~~~~~~~~~~~~~ */

html {
    scroll-behavior: smooth;
}

body {
    /* background-color: #340909b2; */
    background: var(--bg-color-1);
    font-family: "Fauna One", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--font);
}

@media (max-width: 700px) {
    body {
        font-size: 1.3rem;
    }
}

header {
    padding: 6rem;
    /* background-color: #3d0000; */
    background: var(--bgcolor-2);
    color: var(--font);
    text-align: center;
}

@media (max-width: 620px) {
    header{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width: 540px) {
    header{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 460px) {
    header{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

header h1 {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--bg-color-1);
    text-decoration-thickness: .15rem;
    font-family: "Cinzel", serif;
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: underline;
    text-decoration-style: double;
    color: var(--font);
    display: inline-block;
    margin: 0 1rem;
    transition: transform .5s ease;
}

nav a:hover {
    color: var(--bg-color-1);
    transform: scale(1.2);
}

main {
    margin: 0;
}

@media (max-width: 1000px) {
    main {
        margin: 1.5rem;
    }
}

@media (max-width: 432px) {
    main {
        margin: 1rem;
    }
}

.portfolio-section,
.contact-section {
    margin-bottom: 5rem;
}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

.portfolio-content h2 {
    padding: 2rem 0;
    color: var(--bgcolor-2);
}


.contact-content h2 {
    padding: 2rem 0;
}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: var(--bgcolor-2);
    padding: 4rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0px 0px 8px #0202027b;
}
@media (max-width: 870px) {
    .portfolio-item {
        padding: 2rem;
    }
}

@media (max-width: 440px) {
    .portfolio-item {
        padding: 1rem;
    }
}


.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    box-shadow: 0px 0px 8px #0202027b;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.about-section {
    color: var(--accent-1);
    padding: 2rem;
}

.about-section h2 {
    color: var(--bgcolor-2);
}


.contact-section {
    background-color: var(--bgcolor-2);
    color: var(--font);
    padding-bottom: 2rem;
}

footer {
    background-color: var(--accent-2);
    color: var(--font);
    padding: 1rem;
    text-align: center;
}

footer p {
    font-size: 1rem;
}


/*~~~~~~~~~~~~~style classes~~~~~~~~~~~~~~*/

.accent-1 {
    color: var(--accent-1);
}

.accent-2 {
    color: var(--bg-color-1);
}